

<!--form action='http://localhost/wordpress/wp-content/plugins/alln1api/m_api.php' method='post' id='mobile_login_form'-->
<form action='http://localhost/wordpress/wp-content/plugins/alln1api/m_api.php' method='post' id='mobile_login_form'>
<span id='error'></span>
 
<div class="col-md-12 input-field">
<input name='username' id="username" type="text" class="form-control">
<label for="username" class="">Username</label>
</div>
<div class="col-md-12 input-field">
<input id="password" type="password" name='password' class="form-control">
<label for="password"  class="">Password</label>
</div>

	<button type="button" onclick="login_user_form(this);" id='login_btn1' class='btn btn-info btn-lg btn-block'>Login</button>

</form>			
</div>


