
<button class="btn btn-primary pull-right">Add new</button>
<br>
<form class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-md-2 control-label">Firstname</label>
        <div class="col-md-10">
            <input type="text" name="fname" class="form-control" id="user_fname">
        </div>
    </div>

</form>