.page-container .page-header .page-header-holder .logo a
{
    background-size: 100% 100% !important;
}
#product_price
{
    background: none !important;
    border: none !important;
    font-size: 1.5em !important;
    color: #757575 !important;
}
.flex-nav-next, .flex-nav-prev{
    display: none;
}
.modal-footer {
    border-top:none !important;
}

.post-text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}